.contentContainer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: auto;
    margin-bottom: 40px;
}
.classify_first{
    margin-top: 40px;
    font-family: NanumSquareOTF;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: -0.6px;
    margin-bottom: 20px;

}
.classify{
    font-family: NanumSquareOTF;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
}

.listWrapper{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
    width: 250px;

}

.menuName{
    font-family: NanumSquareOTF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.6px;

}

.price{
    font-family: NanumSquareOTF;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.6px;
}